<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Criar destinos</title>
</head>
<body>
    <header>
        <nav>
            <h1>Exercicio de revisão de CRUD.</h1>
            <ul>
                <li><a href="/passages">Voltar a pagina principal</a></li>
            </ul>
        </nav>
    </header>
    <h3>Destinos para viagens</h3>
    <form action="#" method="POST" class="form-contein">
        <input type="text" placeholder="Digite o nome do país" name="country" autocomplete="off" required>
        <input type="text" placeholder="Digite o nome da cidade" name="city" autocomplete="off" required>
        <input type="text" placeholder="Digite o nome da companhia aerea" name="company" autocomplete="off" required>
        <input type="number" placeholder="Digite o preço da passagem" name="price" autocomplete="off" required>
        <button type="submit" class="btn-edit">Criar</button>
    </form>
</body>
</html>